<p>
  <button class="btn btn-primary mt-4" routerLink="/admin/products/new">
    Add Product
  </button>
</p>
<!-- <form #f="ngForm" class="d-flex" role="search" (ngSubmit)="Submit(f.value)">
  <input
    class="form-control"
    type="text"
    name="search"
    ngModel
    placeholder="Search"
    aria-label="Search"
  />
  <button class="btn btn-outline-success" type="submit">Search</button>
  <button class="btn btn-outline-secondary" type="button" (click)="Reset(f)">
    Reset
  </button>
</form> -->
<br />
<br />
<table
  datatable
  [dtOptions]="dtOptions"
  class="row-border hover table table-bordered table-striped"
>
  <!-- <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of filteredProduct">
      <td>{{ product.title }}</td>
      <td>{{ product.price }}</td>
      <td><a [routerLink]="['/admin/products/', product.key]">Edit</a></td>
    </tr>
  </tbody> -->
</table>

<!-- <table datatable [dtOptions]="dtOptions" class="row-border hover"></table> -->
